.c1 {

	font-family: "Arial", "Helvetica", "sans-serif";

	font-size: 12px;

	font-weight: normal;

}
.nospace{
	padding: 0;
	margin: 0;
}

.cb {

	font-family: "Arial", "Helvetica", "sans-serif";

	font-size: 12px;

	font-weight: bold;

	color: #000000;

}

.cb2 {

	font-family: "Arial", "Helvetica", "sans-serif";

	font-size: x-small;

	font-weight: bold;

	text-decoration: underline;

}

.c2 {

	font-family: "Arial", "Helvetica", "sans-serif";

	font-size: 14px;

}

.BT {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 16px;
	font-weight: bold;
	color: #000066;
	text-decoration: underline;
}
.wbt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

/*�����˵���ʽ*/

*{margin:0;padding:0;border:1;}

#div_center { width:600px; height:24px; margin-left: auto;margin-right:auto; margin-top:10px;}  /*����������ȡ��߶ȣ�background:003399; ���Ʊ�����ɫ,���ж���*/

#nav { line-height: 20px; list-style-type: none; margin-top:5px;}         /*����һ���˵��иߣ��ϱ߾�5px��*/

#nav a { display: block; width: 90px; text-align:center; font-size:12px;} /*һ���˵�����������ʽ��ÿ���˵��Ŀ������ж��룬���ִ�С*/

#nav a:link  { color:#FFF; text-decoration:none;margin:0;}     /* δ���ʵ����� */

#nav a:visited  {color:#FFF;text-decoration:none;margin:0;}    /* �ѷ��ʵ���ɫ */

#nav a:hover {

	text-decoration:none;

}                /* ����������� */

#nav li {float: left;

margin-left:0px;

border-left-width: 1px; 

 border-left-style: solid;

 border-left-color:#FFFFFF; }

                   /* һ��������� */

#nav li a:hover{

}     /* �����һ���˵��ϸı��䱳��ɫ */

#nav li ul {

	line-height: 24px;

	background:#B7C257;

	list-style-type: none;

	text-align:left;

	left: -999em;

	width:91px;

	position: absolute;

	border-width: 1px;

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: none;

	border-left-style: none;

	border-color: #003399;

	padding:0px;

	color: #C90;

}             /*�����˵�������ʽ���и�24px��������ɫ�������ȣ����λ�ã��߿�һ�����أ��ϱ�û��ʽ�������±�ʵ�ߣ��߿���ɫ#003399���ڱ߾�1������*/

#nav li ul a{display:block; height:25px; width: 90px;text-align:center;}                 /* �����˵�������ʽ���������ȡ�����룬������2 */

#nav li ul a:link  {

	color:#728740;

	text-decoration:none;

}                                   /* δ���ʵ����� */

#nav li ul a:visited  {

	text-decoration:none;

}                                 /* �ѷ��ʵ����� */

#nav li.sfhover ul li.sfhover ul {left: 60px;}
#nav li.sfhover ul li ul {left: -899em;}
#nav li.sfhover ul {left: auto;}

#content {clear: left;}
